@media (max-width:400px) {
    // .full {
    // 	width: 100%;
    // 	background-color: wheat;
    // 	height: auto;
    // 	overflow: hidden;

    // 	.contain {
    // 		width: 100%;
    // 		border: 1px solid;
    // 		margin-left: 0%;
    // 		overflow: hidden;

    // 	}
    // }

    // .chatHead {
    // 	display: flex;
    // 	flex-direction: row;
    // 	width: 100%;
    // 	height: auto;
    // 	border-bottom: 2px solid;

    // 	h6 {
    // 		margin-left: 35%;
    // 		margin-top: 1%;

    // 	}

    // 	img {
    // 		width: 30px;
    // 		height: 30px;
    // 		border-radius: 20pc;
    // 		margin-top: 1%;
    // 		margin-left: 37%;
    // 		background-color: aqua;

    // 	}
    // }

    // .chatRoom {


    // 	position: relative;
    // 	overflow-x: hidden;
    // 	padding: 0px;
    // 	height: 97vh;
    // 	width: 100%;
    // 	margin-bottom: 20vh;
    // 	scroll-behavior: smooth;
    // }
}

@media (max-width: 374px) {}



.full {
    width: 100%;
    background-color: rgb(51, 49, 46);
    height: auto;
    overflow: hidden;

    .contain {
        width: 100%;
        border: 1px solid;
        margin-left: 0%;
        overflow: hidden;
        border-radius: 4%;
    }

    .chatHead {
        display: flex;
        flex-direction: row;
        width: 70%;
        height: auto;
        border-bottom: 2px solid;
        position: fixed;
        top: 0;
        background-color: wheat;
        border: 2px solid;

        h6 {
            margin-left: 35%;
            margin-top: 1%;

        }

        img {
            width: 30px;
            height: 30px;
            border-radius: 20pc;
            margin-top: 1%;
            margin-left: 37%;
            background-color: aqua;

        }
    }

    .chatRoom {
        position: relative;
        overflow-x: hidden;
        padding: 0px;
        height: 85vh;
        width: 70%;
        margin-bottom: 20vh;
        scroll-behavior: smooth;
        border: 2px solid;
        top: 70px;
        margin-left: 12%;

        .roomCov {

            justify-content: space-between;
            display: flex;
            flex-direction: row;

            .left {


                .leftChat {
                    max-width: fit-content;
                    background: #d2d6de;
                    border: 1px solid #d2d6de;
                    overflow: hidden;
                    height: auto;
                    border: 1px solid;
                    padding: 5%;
                    border-radius: 17%;
                    word-wrap: break-word;
                    text-align: justify;
                }


            }

            .right {


                .rightChat {
                    height: auto;
                    max-width: fit-content;
                    background-color: green;
                    border: 1px solid yellow;
                    color: white;
                    float: right;
                    padding: 5%;
                    border-radius: 17%;
                    word-break: break-all;
                    word-wrap: break-word;
                    overflow: hidden;
                    white-space: pre-wrap;
                    text-align: justify;

                }



            }
        }


    }
}

.coverRight {
    height: auto;
    width: 250px;
    overflow: hidden;
    float: right;
    padding: 1.5%;

    .chatUser {
        float: right;
        margin-right: 5%;
    }

}

.cover {
    height: auto;
    width: 250px;
    overflow: hidden;
    padding: 1.5%;
}

.box-footer {
    top: 20;
}

.form-wrapper {

    position: fixed;
    bottom: 5%;
    width: 70%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;

}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;

}

#inputFor {
    resize: none;
    overflow: hidden;
    border-radius: 50px;
    height: 10vh;
    width: 87%;
}

#sendBut {

    margin-top: 2vh;
    margin-left: 1vh;

}

.chatTime {
    font-size: 12px;
    float: right;
    margin-top: 0%;
    margin-left: 2%;

}

.chatDate {
    font-size: 12px;
    float: left;
    margin-top: 20%;
    margin-bottom: 0px;
}

.chatUser {
    font-size: 12px;
}