.whole-post {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.under-whole {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

.post-img-div {
    border: 2px solid;
    display: flex;
    justify-content: center;
    max-height: auto;
    width: 100%;
}

.post-img {
    width: 100%;
}