// .add {
//     display: flex;
//     justify-content: center;

//     .container {
//         width: 100%;


//         h1 {

//             color: rgb(226, 77, 77);
//             font-weight: 300;
//         }

//         .sections {
//             display: flex;
//             justify-content: space-between;
//             gap: 100px;
//             margin-left: 15px;

//             label {
//                 color: rgb(207, 38, 38);
//                 font-size: 18px;
//             }

//             .info,
//             .details {
//                 flex: 1;
//                 display: flex;
//                 flex-direction: column;
//                 gap: 10px;
//                 justify-content: space-between;
//                 margin-right: 15px;

//                 input,
//                 select,
//                 textarea {
//                     padding: 20px;
//                 }


//             }
//         }
//     }
// }


// .timeSelect {
//     width: 100px;
//     height: 3px;
// }


.all-add {
    display: flex;
    flex-direction: column;
    width: 80%;
    flex-wrap: wrap;
    padding: 2rem;
}

.post-button {
    border: 2px solid black;
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    background-color: #1dbf73;
    cursor: pointer;
    border-radius: 17%;
}

.t-editor {
    height: 400px;
    max-width: 1000px;
    width: 1000px;
    background: white;
    overflow: hidden;
    overflow-x: none;
    //border: 0.001px solid;
    resize: none;
    overflow-wrap: break-word;
    flex-wrap: wrap;
}