.shift {}

.small-vid {
    justify-content: space-between;
    display: inline-flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    margin-left: 3%;
}

.off-lie {
    background: #000;
}